<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/css/material-dashboard.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/css/custom.css') }}">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}

    </head>
    <body class='off-canvas-sidebar' >
        {{ redux_store('configureStore', {ololo: 'lalala'}) }}
        {{ react_component('Root') }}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/assets/js/server.build.js"></script>
        {% endblock %}
    </body>
</html>
